body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-image: url("./images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid goldenrod;
    padding: 20px;
    margin: 10px auto 10px auto;
    width: 500px;
    height: 500px;
    justify-content: center;

}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;

}

button:hover {
    transform: scale(1.1);
    transition: 0.1s;
}